body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: palegoldenrod;
    background-image: url("pizza.png");
    color: palegoldenrod;
    line-height: 35px;
    font-family: 'Franklin Gothic Medium', sans-serif;
}

.box1, .box2{
    background-color:brown;
    border-radius: 15px;
    border: 5px solid #f3aa21;
    margin: 1%;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 3px solid #f3aa21;
}

input, select, button{
    border: none;
    border-bottom: 2px solid #f3aa21;
    padding: 5px;
    margin-left: 10px;
    color: rgb(138, 36, 23);
}

input:focus, select:focus, input:hover, select:hover,button:hover{
    transform: scale(1.1);
    outline: none;
}

button{
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
}

h1, h2{
    color: azure;
}